#container {
    padding-left: 20%;
  padding-right: 20%;
}

h1{
  text-align: center;
  padding: 5%;
  
}

#pic {
  float: right;
  width:150px;
  height:150px;
}

.p1 span {
  font-weight: bold;
}

.p2 span {
  font-weight: bold;
}

.p3 span {
   font-weight: bold;
}

.p2 {
  padding-left: 25%;

}

.p3 {
  padding-left: 25%;

}

#pdata h2{
  padding-left: 10%;
  text-decoration: underline;
}

#edb h2 {
  padding-left: 10%;
  text-decoration: underline;
}

.p4 {
  padding-left: 25%;
}

.p4 span {
   font-weight: bold;
}

#skills h2 {
  padding-left: 10%;
  text-decoration: underline;
}